@model Vidly.Models.Customer
@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li>@Model.MembershipType.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>@( Model.BirthDate.Value.ToShortDateString())</li>

    }
</ul>
